<div class="container">
<div class="col-md-8 col-md-offset-2 card">
<h2 class="row banner listBanner">Interview Questions Bank</h2>


<hr class="row">

<div class="row marginLeft">

	<div class="row marginBottom boarder" >
		<input type="text" class="search_text col-md-8"  placeholder="Search" ng-model="searchText" />
		<span class="col-md-2 searchLabel">Question Text</span>
		<button style="color:grey" class="col-md-2 boardToLeft fa fa-search"></button>
	</div>
	<h4 class="row title">{{$ctrl.questions[0].questionType}}</h4>

	<div class="row marginBottom boarder" ng-repeat="question in $ctrl.questions | filter:searchText">
	  <input disabled="disabled" class="search_text col-md-10" type="text" value="{{question.questionText}}">
		  <button ui-sref="questionEdit({ questionId: question.id })" class="col-md-1 boardToLeft fa fa-pencil-alt"></button>
		  <button class="col-md-1 boardToLeft fa fa-times" ui-sref="questionDelete({ questionId: question.id })"></button>
	</div>
</div>

<!-- 
<h3>{{$ctrl.questions[0].questionType}}</h3>
<ul ng-controller="questionDelete">
  <li ng-repeat="question in $ctrl.questions">
  {{question.questionText}} 
  <a ui-sref="questionEdit({ questionId: question.id })">edit</a>
  <a  ng-model="question.id" ng-click="delete()">delete</a>
  </li>
</ul>
     -->

</div>
</div>