<div class="container">

<h2 class="col-md-2 col-md-offset-2 banner editBanner">Add Question</h2>
<div class="col-md-8 col-md-offset-2 card editCard">


<div class="row marginLeft">

	<form aciton="/" id="questionEdit">
		<div class="row editLabel marginBottom">
			<div class="noPadding col-md-3">Question Text</div>
			<a href="" class="noPadding col-md-3 col-md-offset-6" ng-click="remove()" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Remove Question</a>
		</div> 
		<input type="text" class="search_text col-md-12 boarder marginBottom" ng-model="QAdd.question.questionText">

		<div class="row">
			<div class="col-md-6">
				<div class="row editLabel marginBottom">Question Type</div> 
				  <div class="noPadding col-md-12 boarder marginBottom">
					<select class="dropdown col-md-12" ng-model="QAdd.question.questionType" ng-options="x for x in questionTypeOptions">
					</select>
				  </div> 
			</div>

			<div class="col-md-6">
				<div class="row editLabel marginBottom">Answer Type</div> 
				  <div class="noPadding col-md-12 boarder marginBottom">
					<select class="dropdown col-md-12" ng-model="QAdd.question.answerType" ng-options="x for x in answerTypeOptions">
					</select>
				  </div> 
			</div>
		</div>



		<div ng-show="QAdd.question.answerType == 'Multiple Choice - Single Choice'">
			<div class="row editLabel marginBottom">Answers</div> 
			<div id="sortable">
				<div id="contactTypeDiv" class="item"></div>            	
			</div>
            <div class="row">
            	<a href='' ng-click="AddContactTypeControl()" class="col-md-3">+ Add Option</a>
			</div>
		</div>

		<div class="row">
			<button type="button" class="col-md-2 col-md-offset-5 button" ng-click="submit()">Save</button>
		</div>
	</form>

</div>
</div>
</div>

  <script>
  $( function() {
    $( "#sortable" ).sortable({
    	axis: 'y',
		tolerance: 'pointer',
		items: '.item',
		handle: '#handle'
    });
    $( "#sortable" ).disableSelection();
  } );
  </script>





