<!-- <div ng-controller="editQuestion">
	<form aciton="/" id="editQuestion">
		<div ng-repeat="value in $ctrl.question">
			<input type="text" ng-model="value">
		</div>
		<button type="button" ng-click="submit()">edit</button>
	</form>
</div>
 -->

<form aciton="/" id="questionEdit">
	ID: <input type="text" disabled="disabled" ng-model="QEdit.question.id">
	<br>
	Question Text: <input type="text" ng-model="QEdit.question.questionText">
	<br>
	Question Type: <input type="text" ng-model="QEdit.question.questionType">
	<br>
	Question Type Number: <input type="text" disabled="disabled" ng-model="QEdit.question.questionTypeNumber">
	<br>
	Answer Type: <input type="text" ng-model="QEdit.question.answerType">
	<br>
	<button type="button" ng-click="submit()">edit</button>
</form>
